<%- include('./header') %> 
<h2>Login Page</h2>

<form>
<label for="email">Email</label>
<input type="text" name="email" id="email">
<label for="password">Password</label>
<input type="password" name="password" id="password">
<button>Login</button>
</form>


<script>
    const form=document.querySelector('form');

    form.addEventListener('submit',(e)=>{

        e.preventDefault();
        const email=form.email.value;
        const password=form.password.value;
        
        console.log(email,password);
    })
        
</script>

<%- include('./footer') %> 

